nav li {
    list-style: none;
    margin-right: 20px;
    padding: 0 30px;
}
nav li a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}
nav ul{
    display: flex;
}
nav li:hover{
    background-color: cadetblue;
}