nav li {
    list-style: none;
    margin-right: 20px;
    padding: 0 30px;
}
nav li a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}
nav >ul{
    display: flex;
}
nav li:hover{
    background-color: cadetblue;
}
.dropdown{
display: none;
    background-color: brown;
    position: absolute;
    padding: 0 10px;
    
}

nav>ul>li:hover>ul{
    display: block;
}

.dropdown ul {
    padding: 0;
    margin: 0;
}